/* global styles */
body {
	font-family: "Trebuchet MS", sans-serif;
	background-color: #f7efde;
	padding: 180px;
}

/* typography */
h1,
h2,
h3,
p {
	color: #003049;
}

h1 {
	font-size: 64px;
	text-align: center;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 24px;
}

p,
li {
	font-size: 24px;
	margin-bottom: 10px;
}

/* links */
a {
	color: #007bff;
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}
a:hover {
	color: #0056b3;
	text-decoration: underline;
}

/* center sketch images */
.images .row {
	display: flex;
	justify-content: center;
	gap: 1rem; /* spacing between content within a row */
	margin-bottom: 1rem; /* spacing between rows */
}
