<div>
	<h2>Conclusion</h2>
	<p>
		Through our iterative design process, we developed an intuitive, user-centric mobile app for Retrofit that addresses
		the pain points of online vintage shopping - overwhelming inventory and impersonal experiences. By incorporating
		user feedback as much as possible, we created an interface that effectively integrates AI-curation into a seamless
		browsing and purchasing experience. User testing confirmed the success of our design approach, highlighting both
		strengths and areas for further enhancement. Ultimately, our iterative method allowed us to create a solution that
		not only meets user expectations but also significantly elevates the convenience and personalization of online
		vintage shopping.
	</p>
</div>
