<div>
	<h2>User testing</h2>
	<p>
		To test our design with potential users, we asked people to complete the
		following task: search for an item and purchase it, completing the
		checkout process.
	</p>
	<p>These are the necessary steps to complete the task:</p>
	<ul>
		<li>Select the search bar or icon</li>
		<li>Type query (keyboard not prototyped) and press enter.</li>
		<li>Click item.</li>
		<li>Click “Add to cart”.</li>
		<li>Click “Go to cart”.</li>
		<li>Click “Go to checkout”.</li>
		<li>Review details and click “Confirm and pay”.</li>
	</ul>
	<p>Errors users made</p>
	<ul>
		<li></li>
	</ul>
	<p>General results</p>
	<ul>
		<li></li>
	</ul>
	<p>Potential interface changes</p>
	<ul>
		<li></li>
	</ul>
</div>
