<div>
	<h2>User testing</h2>
	<p>
		To test our design with potential users, we asked people to complete the following task: search for an item and
		purchase it, completing the checkout process.
	</p>
	<p>These are the necessary steps to complete the task:</p>
	<ul>
		<li>Select the search bar or icon</li>
		<li>Type query (keyboard not prototyped) and press enter.</li>
		<li>Click item.</li>
		<li>Click “Add to cart”.</li>
		<li>Click “Go to cart”.</li>
		<li>Click “Go to checkout”.</li>
		<li>Review details and click “Confirm and pay”.</li>
	</ul>
	<h3>Errors users made</h3>
	<ul>
		<li>
			Reselecting the search bar once prompted to search. This was due to the keyboard popup being incomplete, so they
			were unaware that they were already able to search.
		</li>
		<ul>
			<li>Multiple users attempted to do this.</li>
			<li>There was some confusion about not being able to actually type to search something up.</li>
		</ul>
		<li>
			One user stuttered at the “Added to Cart” popup because it was more 'in-your-face' than other apps they had
			experience with.
		</li>
	</ul>
	<h3>General results</h3>
	<ul>
		<li>Users found the interface very intuitive due to its similarity to other shopping interfaces.</li>
		<li>
			Users were able to easily find the correct buttons/interactive components to press to work through the task.
		</li>
	</ul>
	<h3>Potential interface changes</h3>
	<ul>
		<li>Adding a keyboard to the prototype would ensure users are aware they can search.</li>
		<li>
			Instead of a persistent popup upon adding an item to cart, could have it appear as a less intrusive banner at the
			top of the app. This would allow the user to continue their shopping momentum instead of being forced to pause and
			address the popup.
		</li>
	</ul>
</div>
