<div>
	<h2>Wireframing</h2>
	<p>
		We decided to create mock-ups for a mobile application instead of a desktop version because we felt it aligned more
		closely with the needs of our target audience - young people and shoppers, who often prefer to browse and scroll on
		their phones. In our wireframes, we wanted to reflect a design that is both convenient and user-friendly.
	</p>
	<p>
		Next, we combined aspects from all our sketches to create wireframes that emphasized AI-curation and were simple and
		intuitive.
	</p>
	<p>Points of focus:</p>
	<ul>
		<li>Chatbot-like search prompt on the home page</li>
		<li>Intuitive grid layout for images</li>
		<li>Clothing rack on the home page</li>
		<li>Image carousel for single item page</li>
		<li>AI-style profile emphasis on profile page</li>
	</ul>
	<div class="images">
		<div class="row">
			<img src="../images/wireframes/image1.png" width="300" />
			<img src="../images/wireframes/image2.png" width="300" />
			<img src="../images/wireframes/image3.png" width="300" />
		</div>
	</div>
	<p><a href="https://www.loom.com/share/2150cf0829204ca0a629b7173a45b086">Here</a> is a link to a Loom video detailing the thought process behind our wireframe.</p>
	<p>
		After creating this lo-fi wireframe, we received feedback on it from a TA, which helped us identify what was
		missing, what was confusing, and what could be improved - all of which would help us create our next iteration.
	</p>
	<p>Feedback received:</p>
	<ul>
		<li>Make the distinction between what is shown publicly on the profile page vs. what isn't more clear.</li>
		<li>
			Add an info icon next to the match percentage of an item that explains what it means for a product to be a match.
		</li>
		<li>Create a feature that allows users to be taken to a brand’s page or link when they click on the brand.</li>
		<li>
			Emphasize curation and provide more guidance to users on the home page (the home page is confusing and users might
			not know how to proceed).
		</li>
		<li>
			Change wording to “browse *your* AI curated selection”, so users understand it is curated specifically for them.
		</li>
	</ul>
</div>
